 .open-sans-normal {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-variation-settings:
         "wdth" 100;
 }

 /* Shared Style */

 .secondary-bg {
     background-color: #FFF8F3;
 }

 .text-primary {
     color: #FD6E0A;
 }

 .dark-2 {
     color: #474747;
 }

 .btn-primary {
     background-color: #FD6E0A;
     color: #FFF;
     font-size: 20px;
     padding: 18px 35px;
     border-radius: 5px;
     border-style: none;
     font-weight: 700;
 }

 .section-title {
     font-size: 35px;
     font-weight: 700;
 }

 .section-description {
     color: #757575;
     font-size: 18px;
     font-family: 400px;
     line-height: 30px;
 }

 .text-center {
     text-align: center;
 }

 /* header */
 .header {
     background-image: url('../images/developer.png'), url('../images/header_bg.png');
     background-repeat: no-repeat;
     background-position: top left, bottom right;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px 200px;

 }

 .nav-title {
     font-size: 45px;
     font-weight: 800;
 }

 nav ul {
     display: flex;
     padding: 0px;
     align-items: center;
 }

 nav ul li {
     list-style: none;
     margin-right: 50px;
 }

 nav li a {
     text-decoration: none;
     font-size: 20px;
 }

 /* Banner Styles */

 .banner {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 38px 0 230px;
 }

 .banner-greetings {
     font-size: 45px;
     font-weight: 600;
     margin: 0 0 5px 0;
 }

 .banner-title {
     font-size: 85px;
     font-weight: 700;
     margin: 0 0 20px 0;

 }

 .banner-profile-pic {
     width: 584px;
     height: 676px;
 }

 /* main */

 main {
     max-width: 1140px;
     margin: 0 auto;
 }

 /* About */

 .about {
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
     margin-top: 130px;
 }

 .about-items {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

 .item-title {
     color: #757575;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
 }

 .item-description {
     color: #474747;
     font-size: 20px;
     font-weight: 700;
     line-height: 30px;
 }

 /* What I Do */

 .skills {
     margin-top: 130px;
 }

 .skills-container {
     display: flex;
     align-items: center;
     gap: 24px;
     margin-top: 50px;
 }

 .skill {
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     padding: 30px;
 }

 .skill-title {
     color: #181818;
     font-size: 20px;
     font-weight: 700;
     line-height: normal;
 }

 .skill-description {
     color: #757575;
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
 }

 /* Resume Section */

 .resume {
     margin-top: 130px;
 }

 .resume-container {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 24px;
 }

 .resume-column-title {
     color: #474747;
     font-size: 30px;
     font-weight: 700;
     line-height: normal;
 }

 .experience-title {
     color: #474747;
     font-size: 25px;
     font-weight: 700;
     line-height: normal;
 }

 .experience-subtitle {
     color: #757575;
     font-size: 20px;
     font-weight: 600;
     line-height: normal;
 }

 .experience-description {
     color: #757575;
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
 }

 .resume hr {
     margin: 30px 0;
 }

 /* Footer */

 footer {
     display: flex;
     padding: 130px 230px;
     gap: 117px;
     margin-top: 113px;
     background-color: #FFF8F3;
 }

 footer input[type="text"],
 footer input[type="email"],
 footer textarea {
     border-radius: 5px;
     padding: 18px 0px 18px 30px;
     width: 100%;
     border-style: none;
     color: #757575;
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
     margin-bottom: 24px;
 }

 /* Responsive */

 @media screen and (max-width:576px) {

     .skills-container,
     .resume-container,
     .about-items,
     .banner,
     nav,
     nav>ul {
         flex-direction: column;
     }

     nav>ul {
         gap: 20px;
     }

     .banner {
         margin: 15px;
     }

     .banner-profile-pic {
         width: 100%;
         height: 100%;
     }

     footer {
         flex-direction: column;
         padding: 15px 15px;
         gap: 50px;
     }

     .header {
         background-image: none;
     }

     footer input[type="text"],
     footer input[type="email"],
     footer textarea {
         width: calc((100% - 40px));
     }

     .about {
         padding: 0px 0px;
     }

     .btn-primary {
         margin-top: 20px;
     }

 }